
@{
    ViewBag.Title = "Detay";
}

<h2>@ViewBag.HaberAd Haber Detayı</h2>

@* link default olarak Haber/Detay ama bizim url miz : haber/Savaş/Afrin-de-sular-durulmuyor  SEO için url de tireyle ayırdık fakat site içerisinde düzgün görünmüyor.habercont gidip replace edelim. *@

