@model MVCDers_001.Models.Personel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        Home
        <br />
        İsim:@Model.Ad
        <br />
        Soyisim:@Model.Soyad
        <br />

    </div>
</body>
</html>
