
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<img src="/WebImage/ResimGoruntule" />  Resim görüntülemek için*@

@*<img src="/WebImage/ResimDonder" /> Resim Döndermek için*@

@*<img src="/WebImage/ResmiBoyutlandır" /> Resim Boyutlandırmak için*@

@*<img src="/WebImage/ResmiKes" /> Resim kesmek için*@

@*<img src="/WebImage/ResmeYaziEkleme" /> Resme yazı eklemek için:*@

<img src="/WebImage/ResmeResimEkleme" /> Resme resim eklemek için: