
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_LayoutNested.cshtml";
}

<h2>Anasayfa</h2>

@*section:*@

@section yan {
    <p class="bg-success">Anasayfa(section) </p>
    }
@*Partial:*@

@Html.Partial("Partial") @*partial viewinin ismini vererek kullandık.*@
