@*UYARI MESAJI OLUŞTURMA:*@
@*Çıkan uyarı mesajı ile başka bir sayfaya yönlendirme işlemi yapalım *@
@{
    Layout = null;
    string uyariMesaj = string.Empty;

    if (IsPost)
    {
        //uyariMesaj = "<script lang='javascript'>alert('Butona Tıkladınız.')</script>";//yönlendirme yokken
        uyariMesaj = "<script lang='javascript'>var sonuc=confirm('Butona Tıkladınız.');" +
                    "if(sonuc==true){window.location='/UyarıMesaj/Sayfa'}else{window.location='/UyarıMesaj/Index'}</script>";//yönlendirme yokken

    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <form method="post">
            <input type="submit" value="Çalıştır" />
            @Html.Raw(uyariMesaj)

            @*Sayfa'yı oluşturdugumuza göre şimdi yönlendirme işlemi yapalım.*@

        </form>
    </div>
</body>
</html>
