@* View engine : ASP.net Mvc de viewlerdeki yazılan kodlar sonucu oluşan çıktıyı html e render etmek için kullanılan metotdur.
    Razor view engine ise bu metotlardan biridir.
    Bunun sonucunda view da html css js dillerinin yanısıra c# ta kullanabiliyoruz.
    Yazdıgımız sunucu taraflı C# sunucuda derleniyor ve bu büyük bir güvenlik açığı oluşmasını engelliyor.
    Nasıl yazılır : '@' işareti koyduktan sonra yazdıgımız herşey sunucu taraflı kodlar oluyor,sunucuda derlenir,bize çıktıları gösterilir.
    Blok yapmak için: '@{ }'*@
@{ 
    string ad = "Oğuzhan";
    string soyad = "Güney";
    string mesaj = "Sayfa postback olmadı";

}
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @* yukarıda tanımladıgımız ad ve soyad degiskenini göstermek için:  *@
        @ad <br />
        @soyad <br />
        @* Uygulamayı çalıştırdıgımızda Oğuzhan \nGüney görüyoruz. ögeyi denetle dedigimizde br kodlarını görürken C# kodları göremiyoruz
        sadece degiskenlerin degerlerini görebiliyoruz.*@

        @* 1-Link oluşturma:
        Link oluşturmak için,Öncelikle bir sayfadan diger sayfaya geçmemiz gerekiyor.
        Bunu farklı bir controller daki farklı bir view e geçirme olarak yapalım.
        Sayfaya bi kontroller ekleyelim.
        Şimdi bizim konumumuz olan Home controllerdaki index view dan about controller daki hakkımızdaki view e geçmek için :*@
        @Html.ActionLink("Hakkımızda Sayfasına Git", "Hakkimizda", "About") <br />
        @*              (stringlinktext,string action name,string controller name) *@

        @* Bir diger yöntem:  *@
        <a href="@Url.Action("Hakkimizda","About")">Hakkımızda Sayfasına Git</a>

        <br />
        <form method="post">
            @if (IsPost)
            {
                mesaj = "Sayfa postback oldu.";
            }
            @mesaj
            <br />
            <input type="submit" value="Post Et" />
        </form>




    </div>
</body>
</html>
