<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<script>

    $(document).ready(function () {

        $.uyeler = ["Ali", "Oguzhan", "Harun"];
        console.log($.uyeler);//konsol ekranına yazmak için:


        //degerlere for döngüsü kullanmak erişmek için:
        jQuery.each($.uyeler, function (index, deger) {

            console.log(index);
            console.log(deger);
        })


    })

</script>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index3</title>

</head>
<body>
    <div>
    </div>
</body>
</html>
