
<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<script>

    $(document).ready(function () {

        $.ilkEleman = $("[name='ad']").eq(2)[0].id;//first()-last()-eq(i)
        alert($.ilkEleman);

    })


</script>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index5</title>
</head>
<body>
    <div>
        <input id="ad" name="ad" />
        <input id="soyad" name="ad" />
        <input id="adsoyad" name="ad" />


    </div>
</body>
</html>
