
<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<script>
    //Jquery Kodları:

    //değişken tanımlama:
    $.uye = {
        Ad: "Oguzhan",
        Soyad: "Guney",
        //fonksiyon tanımlama:
        IsımGoster: function () {
            alert($.uye.Ad + " " + $.uye.Soyad);
        }
    };
    //fonksiyonu kullanmak için:
    $.uye.IsımGoster();
</script>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
