
<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<script>

    $(document).ready(function () {

        $.inputlar = $(document).find("input");
        $.sinif = $(".sinif1");
        $.idler = $("#input1");
        $.namess = $("[name='inputname1']");

        for (var i = 0; i < $.inputlar.length; i++) {
            alert($.inputlar[i].id);
        }


    })

</script>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index4</title>
</head>
<body>
    <div> 
        <input class="sinif1" type="text" id="input1" name="inputname1" />
        <input class="sinif2" type="button" id="input2" name="inputname2" value="Tıkla" />
    </div>
</body>
</html>
