
<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('#btn').on("click",function () {
            alert("Butona Tıklandı.")
        })
    })
</script>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
</head>
<body>
    <div> 
        <input type="button" id="btn" value="Tıkla" />
        @* formlar içerisinde input type in submit olması gerekir çünkü postback işlemi submitde yapılır. *@
    </div>
</body>
</html>
