
@{
    ViewBag.Title = "PersonelAra";
}

<h2>PersonelAra</h2>

@using (Html.BeginForm("PersonelAramaSonucu", "Personel", FormMethod.Get))
            {
                <input type="text" name="personelAra" />
                <br />
                <input type="submit"  value="Ara" />
            }

