
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*FileResult: çalıştırdık ve /Dosyalar/universitebilgi sayfasına gittik.*@

@*FileStreamResult: çalıştırdık ve /Dosyalar/universitestreambilgi sayfasına gittik. *@

