@*modelimizi yolladıgımız için tanımlamamızı yapalım.*@

@model IEnumerable<MVC.Grid.Models.Personel>

@{
    ViewBag.Title = "Listele";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Personelleri Listele</h2>

<ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            @item.Ad
        </li>
    }
</ul>
 
