
@{
    ViewBag.Title = ViewBag.KategoriAd;
}

<h2>@ViewBag.KategoriAd için haberler:</h2>

@*
    Link:HaberKategori/Anasayfa böyle oldugu zaman hata verecek çünkü biz route ayarı yaptık. link : kategori/xkategori şeklinde olmalı .
    iç içe kategori oldugu durumda kategori/Spor şunu kullanabiliriz lakin sporunda futbol kategorisi var oldugunu düşünelim bu durumda SEO için linkimizin  kategori/Spor/Futbol olması gerekir.
    Bunun için öncelikle yapmamız gereken kırılım sayısının max düzeyde olup olmadıgına bakmak.yani veritabanımızdaki kategorilerim en alt kategoriye nasıl ulaşıyor.bunu bulmamız lazım.

    Haber sitemiz şöyle olsun:
    Ana Kategorilerimiz: Güncel haberler,Spor,Magazin 
    -güncel haberlerin bir alt kategorisi olmasın.
    -spor kategorisinin futbol basketbol voleybol şeklinde alt kategorisi olsun.futbol kategoriside bjk gs fb diye kategoriye ayrılsın.
    -yani baktıgımız zaman kırılım sayımız 3 oluyor :  spor-futbol-takım şimdi route config ayarlarında gerekli düzenlemeyi yapabiliriz.



*@